In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

In [12]:
!pip install keras==2.1.6

Requirement already satisfied: keras==2.1.6 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.1.6)
Requirement already satisfied: numpy>=1.9.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.21.4)
Requirement already satisfied: scipy>=0.14 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.7.3)
Requirement already satisfied: six>=1.9.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.16.0)
Requirement already satisfied: pyyaml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (6.0)
Requirement already satisfied: h5py in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (2.8.0)

In [13]:
import keras

In [14]:
from keras.models import Sequential
from keras.layers import Dense

In [15]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [16]:
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [17]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [18]:
# build the model
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [19]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50

2024-11-03 23:20:19.114073: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-11-03 23:20:19.119270: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394315000 Hz
2024-11-03 23:20:19.119867: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55f2b7cd8aa0 executing computations on platform Host. Devices:
2024-11-03 23:20:19.119912: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-11-03 23:20:19.237052: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 0s - loss: 1598.1523
Epoch 2/50
 - 0s - loss: 1571.2740
Epoch 3/50
 - 0s - loss: 1547.4974
Epoch 4/50
 - 0s - loss: 1515.2935
Epoch 5/50
 - 0s - loss: 1462.0019
Epoch 6/50
 - 0s - loss: 1375.5767
Epoch 7/50
 - 0s - loss: 1241.6962
Epoch 8/50
 - 0s - loss: 1048.8924
Epoch 9/50
 - 0s - loss: 803.8688
Epoch 10/50
 - 0s - loss: 548.7585
Epoch 11/50
 - 0s - loss: 355.2961
Epoch 12/50
 - 0s - loss: 257.1005
Epoch 13/50
 - 0s - loss: 222.2723
Epoch 14/50
 - 0s - loss: 206.6832
Epoch 15/50
 - 0s - loss: 196.0694
Epoch 16/50
 - 0s - loss: 188.6842
Epoch 17/50
 - 0s - loss: 182.5474
Epoch 18/50
 - 0s - loss: 178.3445
Epoch 19/50
 - 0s - loss: 174.3260
Epoch 20/50
 - 0s - loss: 170.5168
Epoch 21/50
 - 0s - loss: 167.3833
Epoch 22/50
 - 0s - loss: 164.6123
Epoch 23/50
 - 0s - loss: 162.0406
Epoch 24/50
 - 0s - loss: 159.6956
Epoch 25/50
 - 0s - loss: 157.8503
Epoch 26/50
 - 0s - loss: 155.9521
Epoch 27/50
 - 0s - loss: 154.3703
Epoch 28/50
 - 0s - loss: 152.7496
Epoch 29/50
 - 0s - loss: 151.6671
Epoch 30/50
 - 0s - loss: 149.7452
Epoch 31/50
 - 0s - loss: 149.0060
Epoch 32/50
 - 0s - loss: 147.4189
Epoch 33/50
 - 0s - loss: 146.6314
Epoch 34/50
 - 0s - loss: 145.2902
Epoch 35/50
 - 0s - loss: 144.5302
Epoch 36/50
 - 0s - loss: 143.0524
Epoch 37/50
 - 0s - loss: 142.4762
Epoch 38/50
 - 0s - loss: 141.4438
Epoch 39/50
 - 0s - loss: 140.8847
Epoch 40/50
 - 0s - loss: 139.8878
Epoch 41/50
 - 0s - loss: 139.0915
Epoch 42/50
 - 0s - loss: 138.0198
Epoch 43/50
 - 0s - loss: 137.7966
Epoch 44/50
 - 0s - loss: 137.2840
Epoch 45/50
 - 0s - loss: 136.3958
Epoch 46/50
 - 0s - loss: 135.2429
Epoch 47/50
 - 0s - loss: 134.3510
Epoch 48/50
 - 0s - loss: 133.7850
Epoch 49/50
 - 0s - loss: 132.9391
Epoch 50/50
 - 0s - loss: 132.3704

In [20]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 114us/step

137.62615305088872

In [21]:
from sklearn.metrics import mean_squared_error

In [22]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

137.6261527778464 0.0

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 104.35938744406099
MSE 2: 110.14765051190521
MSE 3: 69.19830416089894
MSE 4: 52.26872180580707
MSE 5: 39.5946747616271
MSE 6: 42.10821306049631
MSE 7: 42.48272512491467
MSE 8: 30.78237357031566
MSE 9: 33.31427080963036
MSE 10: 31.492167130257318
MSE 11: 28.876005222110688
MSE 12: 23.835789072475002
MSE 13: 28.671647343434948
MSE 14: 29.23625330014522
MSE 15: 24.352014449036236
MSE 16: 18.513760341409725
MSE 17: 24.135026518195193
MSE 18: 23.087941561702
MSE 19: 21.510423765213357
MSE 20: 24.378057695901123
MSE 21: 21.50111980499959
MSE 22: 22.17803324233367
MSE 23: 20.751724064157234
MSE 24: 20.14529517090436