In [1]:
!pip install numpy==1.21.4
!pip install pandas==1.3.4
!pip install keras==2.1.6

Requirement already satisfied: numpy==1.21.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.21.4)
Requirement already satisfied: pandas==1.3.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (1.21.4)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas==1.3.4) (1.16.0)
Requirement already satisfied: keras==2.1.6 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.1.6)
Requirement already satisfied: numpy>=1.9.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.21.4)
Requirement already satisfied: scipy>=0.14 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.7.3)
Requirement already satisfied: six>=1.9.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.16.0)
Requirement already satisfied: pyyaml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (6.0)
Requirement already satisfied: h5py in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (2.8.0)

In [2]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:

concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [11]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [16]:
# build the model
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [17]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50
 32/721 [>.............................] - ETA: 4s - loss: 21082.0625

2024-11-03 23:30:34.304908: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-11-03 23:30:34.309823: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394315000 Hz
2024-11-03 23:30:34.312762: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x565516fd44c0 executing computations on platform Host. Devices:
2024-11-03 23:30:34.312825: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-11-03 23:30:34.393154: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

721/721 [==============================] - 0s 375us/step - loss: 8295.3873
Epoch 2/50
721/721 [==============================] - 0s 130us/step - loss: 1719.1344
Epoch 3/50
721/721 [==============================] - 0s 93us/step - loss: 1424.4622
Epoch 4/50
721/721 [==============================] - 0s 105us/step - loss: 1283.7832
Epoch 5/50
721/721 [==============================] - 0s 104us/step - loss: 1156.0111
Epoch 6/50
721/721 [==============================] - 0s 84us/step - loss: 1038.6217
Epoch 7/50
721/721 [==============================] - 0s 64us/step - loss: 942.2593
Epoch 8/50
721/721 [==============================] - 0s 76us/step - loss: 847.6803
Epoch 9/50
721/721 [==============================] - 0s 78us/step - loss: 771.7331
Epoch 10/50
721/721 [==============================] - 0s 58us/step - loss: 703.8863
Epoch 11/50
721/721 [==============================] - 0s 62us/step - loss: 646.8983
Epoch 12/50
721/721 [==============================] - 0s 60us/step - loss: 590.6794
Epoch 13/50
721/721 [==============================] - 0s 59us/step - loss: 538.3794
Epoch 14/50
721/721 [==============================] - 0s 61us/step - loss: 491.8687
Epoch 15/50
721/721 [==============================] - 0s 67us/step - loss: 450.9985
Epoch 16/50
721/721 [==============================] - 0s 60us/step - loss: 413.6008
Epoch 17/50
721/721 [==============================] - 0s 57us/step - loss: 375.3947
Epoch 18/50
721/721 [==============================] - 0s 58us/step - loss: 339.0989
Epoch 19/50
721/721 [==============================] - 0s 53us/step - loss: 307.6792
Epoch 20/50
721/721 [==============================] - 0s 87us/step - loss: 278.9395
Epoch 21/50
721/721 [==============================] - 0s 64us/step - loss: 256.1455
Epoch 22/50
721/721 [==============================] - 0s 54us/step - loss: 234.3111
Epoch 23/50
721/721 [==============================] - 0s 57us/step - loss: 215.2851
Epoch 24/50
721/721 [==============================] - 0s 55us/step - loss: 199.2418
Epoch 25/50
721/721 [==============================] - 0s 53us/step - loss: 184.5760
Epoch 26/50
721/721 [==============================] - 0s 53us/step - loss: 171.0061
Epoch 27/50
721/721 [==============================] - 0s 55us/step - loss: 160.6174
Epoch 28/50
721/721 [==============================] - 0s 58us/step - loss: 149.8444
Epoch 29/50
721/721 [==============================] - 0s 54us/step - loss: 140.8396
Epoch 30/50
721/721 [==============================] - 0s 52us/step - loss: 132.8179
Epoch 31/50
721/721 [==============================] - 0s 59us/step - loss: 129.0231
Epoch 32/50
721/721 [==============================] - 0s 60us/step - loss: 121.1652
Epoch 33/50
721/721 [==============================] - 0s 52us/step - loss: 117.5211
Epoch 34/50
721/721 [==============================] - 0s 52us/step - loss: 111.4417
Epoch 35/50
721/721 [==============================] - 0s 55us/step - loss: 108.2934
Epoch 36/50
721/721 [==============================] - 0s 54us/step - loss: 107.0224
Epoch 37/50
721/721 [==============================] - 0s 53us/step - loss: 101.7382
Epoch 38/50
721/721 [==============================] - 0s 57us/step - loss: 102.0169
Epoch 39/50
721/721 [==============================] - 0s 53us/step - loss: 97.7349
Epoch 40/50
721/721 [==============================] - 0s 58us/step - loss: 95.8964
Epoch 41/50
721/721 [==============================] - 0s 56us/step - loss: 93.7062
Epoch 42/50
721/721 [==============================] - 0s 56us/step - loss: 92.2539
Epoch 43/50
721/721 [==============================] - 0s 56us/step - loss: 92.9114
Epoch 44/50
721/721 [==============================] - 0s 55us/step - loss: 89.4278
Epoch 45/50
721/721 [==============================] - 0s 57us/step - loss: 88.7252
Epoch 46/50
721/721 [==============================] - 0s 60us/step - loss: 87.3278
Epoch 47/50
721/721 [==============================] - 0s 62us/step - loss: 87.6281
Epoch 48/50
721/721 [==============================] - 0s 145us/step - loss: 85.7480
Epoch 49/50
721/721 [==============================] - 0s 140us/step - loss: 86.8985
Epoch 50/50
721/721 [==============================] - 0s 109us/step - loss: 83.8466

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 86us/step

80.68952403639513

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

80.68953570337771 0.0

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 65.39264796235415
MSE 2: 68.54017576199134
MSE 3: 54.79858988542773
MSE 4: 58.29709348709452
MSE 5: 54.487486002900454
MSE 6: 51.78834800349856
MSE 7: 62.27647740632585
MSE 8: 43.85397424049748
MSE 9: 46.98766554057791
MSE 10: 51.61566228773987
MSE 11: 43.764701263032684
MSE 12: 54.39150802217255
MSE 13: 52.35513848857201
MSE 14: 50.40058892753132
MSE 15: 44.35102961518618
MSE 16: 37.74652356391586
MSE 17: 43.180842785387746
MSE 18: 51.17025550669451
MSE 19: 56.68409017914707
MSE 20: 38.73962331975548
MSE 21: 38.71173473469262
MSE 22: 39.803612125730055
MSE 23: 35.52614267589976
MSE 24: 39.53351583141339
MSE 25: 43.72360562197984
MSE 26: 39.834889532292934
MSE 27: 40.01884290084098
MSE 28: 35.49451455174912
MSE 29: 43.42089417837199
MSE 30: 42.71726862589518
MSE 31: 44.68332223984802
MSE 32: 34.028575471303995
MSE 33: 41.720644830500035
MSE 34: 41.29519642209544
MSE 35: 37.46506650856784
MSE 36: 42.715176424933865
MSE 37: 41.22534619797395
MSE 38: 50.67645234043158
MSE 39: 39.549733418091215
MSE 40: 35.0193262131083
MSE 41: 49.67589697482902
MSE 42: 36.84566868161692
MSE 43: 54.22803882487769
MSE 44: 48.295009329095244
MSE 45: 43.07676185681982
MSE 46: 44.26851086168999
MSE 47: 44.95294879555316
MSE 48: 44.18280242870541
MSE 49: 46.44476968339346
MSE 50: 41.049055340220626


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 45.82011273081939
Standard Deviation: 7.82685421926702